{% if request.user.is_authenticated %}
<div class="card mb-3">
  <ul class="list-group list-group-flush">
    <a href="{% url 'update-account' %}"><li class="list-group-item">Tənzimlə</li></a>
    <a href="{% url 'change-password' %}"><li class="list-group-item">Şifrəni dəyişdir</li></a>
    <a href="{% url 'add-blog' %}"><li class="list-group-item">Blog yaz</li></a>
    <a href="{% url 'myblogs' %}"><li class="list-group-item">Bloglarım</li></a>
    <a href="{% url 'logout' %}"><div class="card-footer">Çıxış et</div></a>
  </ul>
  {% else %}
    <a href="{% url 'sign-up' %}"><li class="list-group-item">Qeydiyyat</li></a>
    <a href="{% url 'sign-in' %}"><div class="card-footer">Giriş et</div></a>
</div>
{% endif %}
