{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}


{% block title %} Agaews - Contact{% endblock title %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  <!-- {{form.full_name.label}}
  {{form.full_name}} {{form.full_name.errors}}
  {{form.email.label}}
  {{form.email}} {{form.email.errors}}
  {{form.message.label}}
  {{form.message}} {{form.message.errors}} -->
  {{form|crispy}}
  <button type="submit" class="btn btn-primary mt-3 mb-3">Gonder</button>
</form>
{% endblock content %}
  