{% extends 'partials/base.html' %}


{% block title %} Agaews - {{blog.title}} {% endblock title %}

{% block content %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{blog.image.url}}" class="img-fluid rounded-start img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text">{{blog.content|safe}}</p>
        <p class="card-text"><small class="text-muted">{{blog.update_date|timesince}}</small></p>
        
        {% if request.user == blog.author %}
          <p>
            <a class="btn btn-primary" href="{% url 'update-blog' blog.slug %}">Update</a>
          </p>
        {% endif %}
          
      </div>
    </div>
  </div>
</div>

<h4>Comments</h4>
{% for comment in comments %}
<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="..." width="75px" height="75px">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{comment.author.username}}</h5>
        <p class="card-text">{{comment.comment}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
{% empty %}
<h3>No Comments..</h3>
{% endfor %}

</div>

{% endblock content %}
  