{% extends 'partials/base.html' %}


{% block title %} Agaews - My Blogs{% endblock title %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Title</th>
      <th scope="col">Update date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for blog in blogs %}
    <tr>
      <th scope="row">{{blog.id}}</th>
      <a href="{% url 'detail' blog.slug %}"><td>{{blog.title|title}}</td></a>
      <td>{{blog.update_date|timesince}}</td>
      <td>
        <p>
          <a class="btn btn-primary" href="{% url 'update-blog' blog.slug %}">Update</a>
          <a class="btn btn-danger" href="{% url 'delete-blog' blog.slug %}">Delete</a>
        </p>
      </td>
    </tr>
    {% empty %}
    <p>No Blogs</p>
    {% endfor %}
  </tbody>
</table>

{% include 'partials/pagination.html' %}
{% endblock content %}
  